# List of Contents 
#### This notebook answers questions 1-4 of Task 4.10

## 1. Importing Data
## 2. Final Data Corrections and Wrangling
##### 2a Error 1: From Task 4.7
##### 2b Error 2: From Task 4.9
##### 2c Merge departments and active customers
## 3. Addressing PII Concerns
## 4. Customer Geography by Region
## 5. Customer Activity Flag
## 6. Exporting Dataframe and Subsets

### 1. Importing Data

Import the data set you exported in Exercise 4.9 into a new Jupyter notebook. This should be the merged version of your data that contains the new customers column.

In [1]:
#Import Libraries

import pandas as pd
import numpy as np
import os
import matplotlib.pyplot as plt
import seaborn as sns
import scipy

In [2]:
#Set Path
path = r'/Users/tristansavella/Instacart Basket Analysis'

In [3]:
#Important most up-to-date project data
ords_prods_customer_merge = pd.read_pickle(os.path.join(path, '02 Data', 'Prepared Data', 'ords_prods_customer_merge_task49_part1.pkl'))

In [4]:
#Show all columns
pd.set_option('display.max_columns', None)

In [5]:
#checking df shape
ords_prods_customer_merge.shape

(32434212, 35)

In [6]:
#Checking df head
ords_prods_customer_merge.head(30)

,Unnamed: 0,order_id,user_id,eval_set,order_number,orders_day_of_week,order_hour_of_day,days_passed_since_last_order,product_id,add_to_cart_order,reordered,_merge,product_name,aisle_id,department_id,prices,price_range_loc,busiest_day,busiest_days,busiest_period_of_day,max_order,loyalty_flag,mean_price,Spending_Flag,Frequency_Flag,median_days_passed,first_name,last_name,gender,state,age,date_joined,n_dependants,fam_status,income
0,0,2539329,1,prior,1,2,8,NaN,196,1,0,both,Soda,77,7,9.0,Mid-range product,Regularly busy,Regularly busy,Average orders,10,New customer,6.367797,Low spender,Non-Frequent customer,20.5,Linda,Nguyen,Female,Alabama,31,2/17/2019,3,married,40423
1,1,2398795,1,prior,2,3,7,15.0,196,1,1,both,Soda,77,7,9.0,Mid-range product,Regularly busy,Least busy days,Average orders,10,New customer,6.367797,Low spender,Non-Frequent customer,20.5,Linda,Nguyen,Female,Alabama,31,2/17/2019,3,married,40423
2,2,473747,1,prior,3,3,12,21.0,196,1,1,both,Soda,77,7,9.0,Mid-range product,Regularly busy,Least busy days,Most orders,10,New customer,6.367797,Low spender,Non-Frequent customer,20.5,Linda,Nguyen,Female,Alabama,31,2/17/2019,3,married,40423
3,3,2254736,1,prior,4,4,7,29.0,196,1,1,both,Soda,77,7,9.0,Mid-range product,Least busy,Least busy days,Average orders,10,New customer,6.367797,Low spender,Non-Frequent customer,20.5,Linda,Nguyen,Female,Alabama,31,2/17/2019,3,married,40423
4,4,431534,1,prior,5,4,15,28.0,196,1,1,both,Soda,77,7,9.0,Mid-range product,Least busy,Least busy days,Most orders,10,New customer,6.367797,Low spender,Non-Frequent customer,20.5,Linda,Nguyen,Female,Alabama,31,2/17/2019,3,married,40423
5,5,3367565,1,prior,6,2,7,19.0,196,1,1,both,Soda,77,7,9.0,Mid-range product,Regularly busy,Regularly busy,Average orders,10,New customer,6.367797,Low spender,Non-Frequent customer,20.5,Linda,Nguyen,Female,Alabama,31,2/17/2019,3,married,40423
6,6,550135,1,prior,7,1,9,20.0,196,1,1,both,Soda,77,7,9.0,Mid-range product,Regularly busy,Busiest days,Most orders,10,New customer,6.367797,Low spender,Non-Frequent customer,20.5,Linda,Nguyen,Female,Alabama,31,2/17/2019,3,married,40423
7,7,3108588,1,prior,8,1,14,14.0,196,2,1,both,Soda,77,7,9.0,Mid-range product,Regularly busy,Busiest days,Most orders,10,New customer,6.367797,Low spender,Non-Frequent customer,20.5,Linda,Nguyen,Female,Alabama,31,2/17/2019,3,married,40423
8,8,2295261,1,prior,9,1,16,0.0,196,4,1,both,Soda,77,7,9.0,Mid-range product,Regularly busy,Busiest days,Most orders,10,New customer,6.367797,Low spender,Non-Frequent customer,20.5,Linda,Nguyen,Female,Alabama,31,2/17/2019,3,married,40423
9,9,2550362,1,prior,10,4,8,30.0,196,1,1,both,Soda,77,7,9.0,Mid-range product,Least busy,Least busy days,Average orders,10,New customer,6.367797,Low spender,Non-Frequent customer,20.5,Linda,Nguyen,Female,Alabama,31,2/17/2019,3,married,40423
10,0,2539329,1,prior,1,2,8,NaN,14084,2,0,both,Organic Unsweetened Vanilla Almond Milk,91,16,12.5,Mid-range product,Regularly busy,Regularly busy,Average orders,10,New customer,6.367797,Low spender,Non-Frequent customer,20.5,Linda,Nguyen,Female,Alabama,31,2/17/2019,3,married,40423
11,0,2539329,1,prior,1,2,8,NaN,12427,3,0,both,Original Beef Jerky,23,19,4.4,Low-range product,Regularly busy,Regularly busy,Average orders,10,New customer,6.367797,Low spender,Non-Frequent customer,20.5,Linda,Nguyen,Female,Alabama,31,2/17/2019,3,married,40423
12,1,2398795,1,prior,2,3,7,15.0,12427,3,1,both,Original Beef Jerky,23,19,4.4,Low-range product,Regularly busy,Least busy days,Average orders,10,New customer,6.367797,Low spender,Non-Frequent customer,20.5,Linda,Nguyen,Female,Alabama,31,2/17/2019,3,married,40423
13,2,473747,1,prior,3,3,12,21.0,12427,2,1,both,Original Beef Jerky,23,19,4.4,Low-range product,Regularly busy,Least busy days,Most orders,10,New customer,6.367797,Low spender,Non-Frequent customer,20.5,Linda,Nguyen,Female,Alabama,31,2/17/2019,3,married,40423
14,3,2254736,1,prior,4,4,7,29.0,12427,2,1,both,Original Beef Jerky,23,19,4.4,Low-range product,Least busy,Least busy days,Average orders,10,New customer,6.367797,Low spender,Non-Frequent customer,20.5,Linda,Nguyen,Female,Alabama,31,2/17/2019,3,married,40423
15,4,431534,1,prior,5,4,15,28.0,12427,2,1,both,Original Beef Jerky,23,19,4.4,Low-range product,Least busy,Least busy days,Most orders,10,New customer,6.367797,Low spender,Non-Frequent customer,20.5,Linda,Nguyen,Female,Alabama,31,2/17/2019,3,married,40423
16,5,3367565,1,prior,6,2,7,19.0,12427,2,1,both,Original Beef Jerky,23,19,4.4,Low-range product,Regularly busy,Regularly busy,Average orders,10,New customer,6.367797,Low spender,Non-Frequent customer,20.5,Linda,Nguyen,Female,Alabama,31,2/17/2019,3,married,40423
17,6,550135,1,prior,7,1,9,20.0,12427,3,1,both,Original Beef Jerky,23,19,4.4,Low-range product,Regularly busy,Busiest days,Most orders,10,New customer,6.367797,Low spender,Non-Frequent customer,20.5,Linda,Nguyen,Female,Alabama,31,2/17/2019,3,married,40423
18,7,3108588,1,prior,8,1,14,14.0,12427,1,1,both,Original Beef Jerky,23,19,4.4,Low-range product,Regularly busy,Busiest days,Most orders,10,New customer,6.367797,Low spender,Non-Frequent customer,20.5,Linda,Nguyen,Female,Alabama,31,2/17/2019,3,married,40423
19,8,2295261,1,prior,9,1,16,0.0,12427,6,1,both,Original Beef Jerky,23,19,4.4,Low-range product,Regularly busy,Busiest days,Most orders,10,New customer,6.367797,Low spender,Non-Frequent customer,20.5,Linda,Nguyen,Female,Alabama,31,2/17/2019,3,married,40423
20,9,2550362,1,prior,10,4,8,30.0,12427,9,1,both,Original Beef Jerky,23,19,4.4,Low-range product,Least busy,Least busy days,Average orders,10,New customer,6.367797,Low spender,Non-Frequent customer,20.5,Linda,Nguyen,Female,Alabama,31,2/17/2019,3,married,40423
21,0,2539329,1,prior,1,2,8,NaN,26088,4,0,both,Aged White Cheddar Popcorn,23,19,4.7,Low-range product,Regularly busy,Regularly busy,Average orders,10,New customer,6.367797,Low spender,Non-Frequent customer,20.5,Linda,Nguyen,Female,Alabama,31,2/17/2019,3,married,40423
22,1,2398795,1,prior,2,3,7,15.0,26088,5,1,both,Aged White Cheddar Popcorn,23,19,4.7,Low-range product,Regularly busy,Least busy days,Average orders,10,New customer,6.367797,Low spender,Non-Frequent customer,20.5,Linda,Nguyen,Female,Alabama,31,2/17/2019,3,married,40423
23,0,2539329,1,prior,1,2,8,NaN,26405,5,0,both,XL Pick-A-Size Paper Towel Rolls,54,17,1.0,Low-range product,Regularly busy,Regularly busy,Average orders,10,New customer,6.367797,Low spender,Non-Frequent customer,20.5,Linda,Nguyen,Female,Alabama,31,2/17/2019,3,married,40423
24,3,2254736,1,prior,4,4,7,29.0,26405,5,1,both,XL Pick-A-Size Paper Towel Rolls,54,17,1.0,Low-range product,Least busy,Least busy days,Average orders,10,New customer,6.367797,Low spender,Non-Frequent customer,20.5,Linda,Nguyen,Female,Alabama,31,2/17/2019,3,married,40423
25,1,2398795,1,prior,2,3,7,15.0,10258,2,0,both,Pistachios,117,19,3.0,Low-range product,Regularly busy,Least busy days,Average orders,10,New customer,6.367797,Low spender,Non-Frequent customer,20.5,Linda,Nguyen,Female,Alabama,31,2/17/2019,3,married,40423
26,2,473747,1,prior,3,3,12,21.0,10258,3,1,both,Pistachios,117,19,3.0,Low-range product,Regularly busy,Least busy days,Most orders,10,New customer,6.367797,Low spender,Non-Frequent customer,20.5,Linda,Nguyen,Female,Alabama,31,2/17/2019,3,married,40423
27,3,2254736,1,prior,4,4,7,29.0,10258,3,1,both,Pistachios,117,19,3.0,Low-range product,Least busy,Least busy days,Average orders,10,New customer,6.367797,Low spender,Non-Frequent customer,20.5,Linda,Nguyen,Female,Alabama,31,2/17/2019,3,married,40423
28,4,431534,1,prior,5,4,15,28.0,10258,3,1,both,Pistachios,117,19,3.0,Low-range product,Least busy,Least busy days,Most orders,10,New customer,6.367797,Low spender,Non-Frequent customer,20.5,Linda,Nguyen,Female,Alabama,31,2/17/2019,3,married,40423
29,5,3367565,1,prior,6,2,7,19.0,10258,3,1,both,Pistachios,117,19,3.0,Low-range product,Regularly busy,Regularly busy,Average orders,10,New customer,6.367797,Low spender,Non-Frequent customer,20.5,Linda,Nguyen,Female,Alabama,31,2/17/2019,3,married,40423

## 2. Final Data Corrections and Wrangling

#### 2a. Error 1: "price_range_loc" column: From Task 4.7

I made an error regarding the "price_range_loc" column in Task 4.7. I am not able to correct the issue there as I've had to remove previous versions of the datasets from my macbook due to storage issues.¶

In [7]:
#Checking Values
ords_prods_customer_merge['price_range_loc'].value_counts()

price_range_loc
Low-range product     10126384
Mid-range product       756450
High-range product      417682
Name: count, dtype: int64

In [8]:
#correction: price range column: defining high-range product
ords_prods_customer_merge.loc[ords_prods_customer_merge['prices'] > 15, 'price_range_loc'] = 'High-range product'

In [9]:
#correction: price range column: defining mid-range product
ords_prods_customer_merge.loc[(ords_prods_customer_merge['prices'] <= 15) & (ords_prods_customer_merge['prices'] > 5), 'price_range_loc'] = 'Mid-range product'

In [10]:
#correction: price range column: defining low-range product
ords_prods_customer_merge.loc[ords_prods_customer_merge['prices'] <= 5, 'price_range_loc'] = 'Low-range product'

In [11]:
#Checking Revised Values
ords_prods_customer_merge['price_range_loc'].value_counts()

price_range_loc
Mid-range product     21890146
Low-range product     10126384
High-range product      417682
Name: count, dtype: int64

Error 1: Addressed

#### 2b. Error 2: setting NAN for "prices" column: from Task 4.9 (See Notebook "4.9 Task Questions" Part 2). 

In the aforementioned notebook, I ran a price check on grocery items and found likely errors in the form of items priced over 100 dollars - I set the value to prices over 100 dollars as NAN but did not export the data frame due to space.

In [12]:
#Running check assuming most prices in grocery store are under 100
ords_prods_customer_merge.loc[ords_prods_customer_merge['prices'] > 100]

,Unnamed: 0,order_id,user_id,eval_set,order_number,orders_day_of_week,order_hour_of_day,days_passed_since_last_order,product_id,add_to_cart_order,reordered,_merge,product_name,aisle_id,department_id,prices,price_range_loc,busiest_day,busiest_days,busiest_period_of_day,max_order,loyalty_flag,mean_price,Spending_Flag,Frequency_Flag,median_days_passed,first_name,last_name,gender,state,age,date_joined,n_dependants,fam_status,income
7816,24261,1435153,1519,prior,26,2,11,6.0,21553,15,0,both,Lowfat 2% Milkfat Cottage Cheese,108,16,14900.0,High-range product,Regularly busy,Regularly busy,Most orders,47,Loyal customer,50.932895,High spender,Frequent customer,6.0,Craig,Clark,Male,Rhode Island,68,3/4/2020,0,divorced/widowed,177864
7817,24267,1066435,1519,prior,32,3,10,5.0,21553,28,1,both,Lowfat 2% Milkfat Cottage Cheese,108,16,14900.0,High-range product,Regularly busy,Least busy days,Most orders,47,Loyal customer,50.932895,High spender,Frequent customer,6.0,Craig,Clark,Male,Rhode Island,68,3/4/2020,0,divorced/widowed,177864
15172,39073,1697208,2409,prior,33,1,19,5.0,21553,1,0,both,Lowfat 2% Milkfat Cottage Cheese,108,16,14900.0,High-range product,Regularly busy,Busiest days,Average orders,48,Loyal customer,35.233761,High spender,Frequent customer,5.0,Nicole,Odonnell,Female,Hawaii,55,11/11/2018,2,married,230074
20294,57126,965345,3531,prior,27,2,19,8.0,33664,2,0,both,2 % Reduced Fat Milk,84,16,99999.0,High-range product,Regularly busy,Regularly busy,Average orders,29,Regular customer,267.469870,High spender,Frequent customer,8.0,Alice,Compton,Female,Hawaii,80,10/6/2019,2,married,233776
20528,61481,2943740,3793,prior,1,2,9,NaN,21553,3,0,both,Lowfat 2% Milkfat Cottage Cheese,108,16,14900.0,High-range product,Regularly busy,Regularly busy,Most orders,18,Regular customer,71.191102,High spender,Regular customer,14.0,Jerry,Allen,Male,Louisiana,59,8/23/2019,3,married,182933
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
32333019,854612,3265389,51346,prior,4,1,17,13.0,33664,2,1,both,2 % Reduced Fat Milk,84,16,99999.0,High-range product,Regularly busy,Busiest days,Average orders,5,New customer,6390.138298,High spender,Regular customer,13.0,Blank,Gould,Male,Rhode Island,58,1/25/2019,1,married,207497
32337105,2186800,1179092,131671,prior,12,4,9,15.0,33664,1,0,both,2 % Reduced Fat Milk,84,16,99999.0,High-range product,Least busy,Least busy days,Most orders,13,Regular customer,3453.431034,High spender,Regular customer,13.0,Diana,Hansen,Female,Rhode Island,35,8/4/2018,0,single,86490
32340034,658416,1226705,39667,prior,7,2,15,20.0,33664,14,0,both,2 % Reduced Fat Milk,84,16,99999.0,High-range product,Regularly busy,Regularly busy,Most orders,7,New customer,1223.879268,High spender,Non-Frequent customer,23.0,Johnny,Colon,Male,Rhode Island,78,5/8/2019,2,married,195077
32359285,1583942,3000037,95105,prior,2,4,19,22.0,33664,4,0,both,2 % Reduced Fat Milk,84,16,99999.0,High-range product,Least busy,Least busy days,Average orders,4,New customer,11772.100000,High spender,Frequent customer,6.0,Catherine,Browning,Female,South Carolina,48,1/18/2017,2,married,398880
32359286,1583944,2741225,95105,prior,4,5,12,2.0,33664,3,1,both,2 % Reduced Fat Milk,84,16,99999.0,High-range product,Regularly busy,Regularly busy,Most orders,4,New customer,11772.100000,High spender,Frequent customer,6.0,Catherine,Browning,Female,South Carolina,48,1/18/2017,2,married,398880

5127 values are over 100 dollars - this is most likely a mistake (according to directions on Task 4.9).

In [13]:
#setting these values as nan
ords_prods_customer_merge.loc[ords_prods_customer_merge['prices'] >100, 'prices'] = np.nan

In [14]:
#checking max value
ords_prods_customer_merge['prices'].max()

25.0

Error 2: Addressed

#### 2c. Merge With Departments (for later customer profiling)

In [15]:
#import departments
df_departments = pd.read_csv(os.path.join(path, '02 Data', 'Prepared Data', 'departments_wrangled.csv'), index_col = False)

In [16]:
#rename column
df_departments.rename(columns = {'Unnamed: 0' : 'department_id'}, inplace = True)

In [23]:
df_departments

    department_id       department
0               1           frozen
1               2            other
2               3           bakery
3               4          produce
4               5          alcohol
5               6    international
6               7        beverages
7               8             pets
8               9  dry goods pasta
9              10             bulk
10             11    personal care
11             12     meat seafood
12             13           pantry
13             14        breakfast
14             15     canned goods
15             16       dairy eggs
16             17        household
17             18           babies
18             19           snacks
19             20             deli
20             21          missing

In [27]:
#merge departments and active customers
ords_prods_customer_merge = ords_prods_customer_merge.merge(df_departments, on = 'department_id' )

In [28]:
#Check output
ords_prods_customer_merge.head()

,Unnamed: 0,order_id,user_id,eval_set,order_number,orders_day_of_week,order_hour_of_day,days_passed_since_last_order,product_id,add_to_cart_order,reordered,_merge,product_name,aisle_id,department_id,prices,price_range_loc,busiest_day,busiest_days,busiest_period_of_day,max_order,loyalty_flag,mean_price,Spending_Flag,Frequency_Flag,median_days_passed,first_name,last_name,gender,state,age,date_joined,n_dependants,fam_status,income,department
0,0,2539329,1,prior,1,2,8,NaN,196,1,0,both,Soda,77,7,9.0,Mid-range product,Regularly busy,Regularly busy,Average orders,10,New customer,6.367797,Low spender,Non-Frequent customer,20.5,Linda,Nguyen,Female,Alabama,31,2/17/2019,3,married,40423,beverages
1,1,2398795,1,prior,2,3,7,15.0,196,1,1,both,Soda,77,7,9.0,Mid-range product,Regularly busy,Least busy days,Average orders,10,New customer,6.367797,Low spender,Non-Frequent customer,20.5,Linda,Nguyen,Female,Alabama,31,2/17/2019,3,married,40423,beverages
2,2,473747,1,prior,3,3,12,21.0,196,1,1,both,Soda,77,7,9.0,Mid-range product,Regularly busy,Least busy days,Most orders,10,New customer,6.367797,Low spender,Non-Frequent customer,20.5,Linda,Nguyen,Female,Alabama,31,2/17/2019,3,married,40423,beverages
3,3,2254736,1,prior,4,4,7,29.0,196,1,1,both,Soda,77,7,9.0,Mid-range product,Least busy,Least busy days,Average orders,10,New customer,6.367797,Low spender,Non-Frequent customer,20.5,Linda,Nguyen,Female,Alabama,31,2/17/2019,3,married,40423,beverages
4,4,431534,1,prior,5,4,15,28.0,196,1,1,both,Soda,77,7,9.0,Mid-range product,Least busy,Least busy days,Most orders,10,New customer,6.367797,Low spender,Non-Frequent customer,20.5,Linda,Nguyen,Female,Alabama,31,2/17/2019,3,married,40423,beverages

Merge = Successful

### 3. Addressing PII Concerns
Question 2: Consider any security implications that might exist for this new data. You’ll need to address any PII data in the data before continuing your analysis.

##### Two columns contain PII data ("first_name" and "last_name"). These columns were not used in the analyses and will therefore be dropped.

In [29]:
#drop two aforementioned columns
ords_prods_customer_merge = ords_prods_customer_merge.drop(columns = ['first_name','last_name'])

In [30]:
#checking df after dropping columns
ords_prods_customer_merge.head()

,Unnamed: 0,order_id,user_id,eval_set,order_number,orders_day_of_week,order_hour_of_day,days_passed_since_last_order,product_id,add_to_cart_order,reordered,_merge,product_name,aisle_id,department_id,prices,price_range_loc,busiest_day,busiest_days,busiest_period_of_day,max_order,loyalty_flag,mean_price,Spending_Flag,Frequency_Flag,median_days_passed,gender,state,age,date_joined,n_dependants,fam_status,income,department
0,0,2539329,1,prior,1,2,8,NaN,196,1,0,both,Soda,77,7,9.0,Mid-range product,Regularly busy,Regularly busy,Average orders,10,New customer,6.367797,Low spender,Non-Frequent customer,20.5,Female,Alabama,31,2/17/2019,3,married,40423,beverages
1,1,2398795,1,prior,2,3,7,15.0,196,1,1,both,Soda,77,7,9.0,Mid-range product,Regularly busy,Least busy days,Average orders,10,New customer,6.367797,Low spender,Non-Frequent customer,20.5,Female,Alabama,31,2/17/2019,3,married,40423,beverages
2,2,473747,1,prior,3,3,12,21.0,196,1,1,both,Soda,77,7,9.0,Mid-range product,Regularly busy,Least busy days,Most orders,10,New customer,6.367797,Low spender,Non-Frequent customer,20.5,Female,Alabama,31,2/17/2019,3,married,40423,beverages
3,3,2254736,1,prior,4,4,7,29.0,196,1,1,both,Soda,77,7,9.0,Mid-range product,Least busy,Least busy days,Average orders,10,New customer,6.367797,Low spender,Non-Frequent customer,20.5,Female,Alabama,31,2/17/2019,3,married,40423,beverages
4,4,431534,1,prior,5,4,15,28.0,196,1,1,both,Soda,77,7,9.0,Mid-range product,Least busy,Least busy days,Most orders,10,New customer,6.367797,Low spender,Non-Frequent customer,20.5,Female,Alabama,31,2/17/2019,3,married,40423,beverages

### 4. Customer Geography by Region
Question 3: The Instacart officers are interested in comparing customer behavior in different geographic areas. Create a regional segmentation of the data. You’ll need to create a “Region” column based on the “State” column from your customers data set.
##### A) The following wikipedia link lists the US regions that I will be using for this analysis: https://simple.wikipedia.org/wiki/List_of_regions_of_the_United_States
##### B) Determine whether there’s a difference in spending habits between the different U.S. regions. (Hint: You can do this by crossing the variable you just created with the spending flag.)

#### Part A

In [31]:
#checking 'state' values
ords_prods_customer_merge['state'].value_counts(dropna = False)

state
Pennsylvania            667710
California              660447
Rhode Island            657655
Georgia                 657072
New Mexico              655143
Arizona                 654545
North Carolina          652338
Oklahoma                652263
Alaska                  649020
Minnesota               648408
Massachusetts           647000
Wyoming                 644929
Virginia                642075
Missouri                641313
Texas                   641058
Colorado                639752
Maine                   639149
North Dakota            638999
Alabama                 638617
Louisiana               638174
Kansas                  637991
Delaware                637447
South Carolina          637348
Oregon                  636949
Arkansas                636706
New York                636697
Nevada                  636697
Montana                 635835
South Dakota            634340
Illinois                633490
Hawaii                  633445
Washington              633421
Mississippi             633103
Kentucky                632905
Michigan                631622
Florida                 629582
Ohio                    629001
Wisconsin               628552
New Jersey              628292
Indiana                 627768
Maryland                627278
Nebraska                626297
Iowa                    626029
Connecticut             623582
Tennessee               618396
New Hampshire           616006
District of Columbia    614293
West Virginia           612955
Utah                    612451
Vermont                 612256
Idaho                   607811
Name: count, dtype: int64

In [32]:
#create 'regions' column according to 'state' and wikipedia designation of each state to a region
regions = []

for value in ords_prods_customer_merge['state']:
    if value in ['Maine','New Hampshire','Vermont','Massachusetts','Rhode Island','Connecticut','New York','Pennsylvania','New Jersey']: 
     regions.append('Northeast')
    elif value in ['Wisconsin','Michigan','Illinois','Indiana','Ohio','North Dakota','South Dakota','Nebraska','Kansas','Minnesota','Iowa','Missouri']: 
     regions.append('Midwest')
    elif value in ['Idaho', 'Montana', 'Wyoming','Nevada','Utah','Colorado','Arizona','New Mexico', 'Alaska', 'Washington','Oregon','Hawaii','California']: 
     regions.append('West')
    else: 
     regions.append('South')

In [33]:
ords_prods_customer_merge['regions'] = regions

In [34]:
#checking df update
ords_prods_customer_merge.head()

,Unnamed: 0,order_id,user_id,eval_set,order_number,orders_day_of_week,order_hour_of_day,days_passed_since_last_order,product_id,add_to_cart_order,reordered,_merge,product_name,aisle_id,department_id,prices,price_range_loc,busiest_day,busiest_days,busiest_period_of_day,max_order,loyalty_flag,mean_price,Spending_Flag,Frequency_Flag,median_days_passed,gender,state,age,date_joined,n_dependants,fam_status,income,department,regions
0,0,2539329,1,prior,1,2,8,NaN,196,1,0,both,Soda,77,7,9.0,Mid-range product,Regularly busy,Regularly busy,Average orders,10,New customer,6.367797,Low spender,Non-Frequent customer,20.5,Female,Alabama,31,2/17/2019,3,married,40423,beverages,South
1,1,2398795,1,prior,2,3,7,15.0,196,1,1,both,Soda,77,7,9.0,Mid-range product,Regularly busy,Least busy days,Average orders,10,New customer,6.367797,Low spender,Non-Frequent customer,20.5,Female,Alabama,31,2/17/2019,3,married,40423,beverages,South
2,2,473747,1,prior,3,3,12,21.0,196,1,1,both,Soda,77,7,9.0,Mid-range product,Regularly busy,Least busy days,Most orders,10,New customer,6.367797,Low spender,Non-Frequent customer,20.5,Female,Alabama,31,2/17/2019,3,married,40423,beverages,South
3,3,2254736,1,prior,4,4,7,29.0,196,1,1,both,Soda,77,7,9.0,Mid-range product,Least busy,Least busy days,Average orders,10,New customer,6.367797,Low spender,Non-Frequent customer,20.5,Female,Alabama,31,2/17/2019,3,married,40423,beverages,South
4,4,431534,1,prior,5,4,15,28.0,196,1,1,both,Soda,77,7,9.0,Mid-range product,Least busy,Least busy days,Most orders,10,New customer,6.367797,Low spender,Non-Frequent customer,20.5,Female,Alabama,31,2/17/2019,3,married,40423,beverages,South

In [35]:
#Checking value counts per region
ords_prods_customer_merge['regions'].value_counts()

regions
South        10801610
West          8300445
Midwest       7603810
Northeast     5728347
Name: count, dtype: int64

#### Part B

In [37]:
#Create crosstab between 'regions' and 'spending_flag'
crosstab_regions_spendingflag = pd.crosstab(ords_prods_customer_merge['regions'], ords_prods_customer_merge['Spending_Flag'], dropna = False)

In [38]:
#Checking crosstab
crosstab_regions_spendingflag

Spending_Flag  High spender  Low spender
regions
Midwest              156129      7447681
Northeast            108343      5620004
South                210182     10591428
West                 160807      8139638

#### All regions have many more low spenders than high spenders. "South" region has the highest number of customers and therefore, highest quantity of both high and low spenders. The following list marks the percentage of high/low spenders per region:

Midwest: High spender = 2.05%; Low spender = 97.95%

Northeast: High spender = 1.89%; Low spender = 98.1%

South: High spender = 1.95%; Low spender = 98.05%

West: High spender = 1.94%; Low spender = 98.06%

There is no noticeable difference in the proportions of high/low spenders per region.

### 5. Customer Activity Flag
Question 4: The Instacart CFO isn’t interested in customers who don’t generate much revenue for the app. Create an exclusion flag for low-activity customers (customers with less than 5 orders) and exclude them from the data. Make sure you export this sample.

In [39]:
#Assigning 'activity_flag' based on max_order
ords_prods_customer_merge.loc[ords_prods_customer_merge['max_order'] < 5, 'activity_flag'] = 'Low activity'
ords_prods_customer_merge.loc[(ords_prods_customer_merge['max_order'] >= 5), 'activity_flag'] = 'Regular activity'

In [40]:
#Checking value_count of new 'activity_flag'
ords_prods_customer_merge['activity_flag'].value_counts()

activity_flag
Regular activity    30992664
Low activity         1441548
Name: count, dtype: int64

In [41]:
#Creating subset for active customers
df_active_customers = ords_prods_customer_merge[ords_prods_customer_merge ['activity_flag'] == 'Regular activity' ]

In [42]:
#Creating subset for inactive customers
df_inactive_customers = ords_prods_customer_merge[ords_prods_customer_merge ['activity_flag'] == 'Low activity' ]

In [43]:
df_active_customers.head()

,Unnamed: 0,order_id,user_id,eval_set,order_number,orders_day_of_week,order_hour_of_day,days_passed_since_last_order,product_id,add_to_cart_order,reordered,_merge,product_name,aisle_id,department_id,prices,price_range_loc,busiest_day,busiest_days,busiest_period_of_day,max_order,loyalty_flag,mean_price,Spending_Flag,Frequency_Flag,median_days_passed,gender,state,age,date_joined,n_dependants,fam_status,income,department,regions,activity_flag
0,0,2539329,1,prior,1,2,8,NaN,196,1,0,both,Soda,77,7,9.0,Mid-range product,Regularly busy,Regularly busy,Average orders,10,New customer,6.367797,Low spender,Non-Frequent customer,20.5,Female,Alabama,31,2/17/2019,3,married,40423,beverages,South,Regular activity
1,1,2398795,1,prior,2,3,7,15.0,196,1,1,both,Soda,77,7,9.0,Mid-range product,Regularly busy,Least busy days,Average orders,10,New customer,6.367797,Low spender,Non-Frequent customer,20.5,Female,Alabama,31,2/17/2019,3,married,40423,beverages,South,Regular activity
2,2,473747,1,prior,3,3,12,21.0,196,1,1,both,Soda,77,7,9.0,Mid-range product,Regularly busy,Least busy days,Most orders,10,New customer,6.367797,Low spender,Non-Frequent customer,20.5,Female,Alabama,31,2/17/2019,3,married,40423,beverages,South,Regular activity
3,3,2254736,1,prior,4,4,7,29.0,196,1,1,both,Soda,77,7,9.0,Mid-range product,Least busy,Least busy days,Average orders,10,New customer,6.367797,Low spender,Non-Frequent customer,20.5,Female,Alabama,31,2/17/2019,3,married,40423,beverages,South,Regular activity
4,4,431534,1,prior,5,4,15,28.0,196,1,1,both,Soda,77,7,9.0,Mid-range product,Least busy,Least busy days,Most orders,10,New customer,6.367797,Low spender,Non-Frequent customer,20.5,Female,Alabama,31,2/17/2019,3,married,40423,beverages,South,Regular activity

### 6. Exporting all relevant files:
1) df_active_customers
2) updated dataframe

In [44]:
#export df_active_customers
df_active_customers.to_pickle(os.path.join(path, '02 Data','Prepared Data','active_customers_task410_part1.pkl'))

In [45]:
#export ords_prods_customer_merge
ords_prods_customer_merge.to_pickle(os.path.join(path, '02 Data','Prepared Data','ords_prods_customer_merge_task410_part1.pkl'))

In [47]:
df_active_customers.shape

(30992664, 36)

In [48]:
ords_prods_customer_merge.shape

(32434212, 36)

#### Remaining 4.10 Questions in "4.10 - Part 2"